<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Description }}">
<!-- Geo tags -->
<meta name="ICBM" content="45.503182, -73.569806">
<meta name="geo.position" content="45.503182;-73.569806">
<meta name="geo.region" content="CA-QC">
<meta name="geo.placename" content="Montreal">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ partialCached "head/css.html" . }}